<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apprightstudio.android.simplecalculator">
<supports-screens
android:requiresSmallestWidthDp="320"
    android:largestWidthLimitDp="400"
android:normalScreens="true"
    android:smallScreens="false"
    android:largeScreens="false"
    android:xlargeScreens="false"


    />
    <compatible-screens
        />


    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity android:name="com.apprightstudio.android.simplecalculator.MainActivity"
            android:screenOrientation="portrait"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>